
@{
    ViewData["Title"] = "CheckOut";
    Layout = "~/Views/Shared/_LayoutOgani.cshtml";
}

<h2>Đơn hàng sẽ được giao đến địa chỉ của bạn trong nhiều nhất là 4 ngày</h2>
<div class="row">
    <div class="col-lg-12">
        <div class="shoping__cart__btns">
            <a asp-controller="Home" asp-action="Index" class="primary-btn cart-btn">CONTINUE SHOPPING</a>
            
        </div>
    </div>
</div>

