@using Microsoft.AspNetCore.Mvc;
@using ThucHanhWebMVC.Models;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutOgani.cshtml";
}

<h1>Thanh Toán Thành Công</h1>
<h1>HttpContext.Session.GetString("Username")</h1>

