@model ThucHanhWebMVC.Models.TMauSac
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "SuaMauSac";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>SuaMauSac</h1>

<h4>TMauSac</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="SuaMauSac">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaMauSac" />
            <div class="form-group">
                <label asp-for="TenMauSac" class="control-label"></label>
                <input asp-for="TenMauSac" class="form-control" />
                <span asp-validation-for="TenMauSac" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

