@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ThucHanhWebMVC.Models.TChatLieu

@{
    ViewData["Title"] = "ThemChatLieu";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>ThemChatLieu</h1>

<h4>TChatLieu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="ThemChatLieu">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaChatLieu" class="control-label"></label>
                <input asp-for="MaChatLieu" class="form-control" />
                <span asp-validation-for="MaChatLieu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChatLieu" class="control-label"></label>
                <input asp-for="ChatLieu" class="form-control" />
                <span asp-validation-for="ChatLieu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

